/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

body {
    font-size: 16px;
}
code,
pre {
    padding: 0 3px 2px;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 12px;
    color: #333333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

code {
    padding: 2px 4px;
    color: #d14;
    white-space: nowrap;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

pre.prettyprint {
    margin-bottom: 20px;
}

pre code {
    padding: 0;
    color: inherit;
    white-space: pre;
    white-space: pre-wrap;
    background-color: transparent;
    border: 0;
}

pre.basic-example {
    text-align: center;
    color: #888888;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 30px;
}
pre.basic-example abbr {
    color: #333333;
}
dd pre { margin: 15px 0; }

dl {
    margin-bottom: 20px;
}

dt,
dd {
    line-height: 20px;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 10px;
}

.dl-horizontal {
    *zoom: 1;
}

.dl-horizontal:before,
.dl-horizontal:after {
    display: table;
    line-height: 0;
    content: "";
}

.dl-horizontal:after {
    clear: both;
}

.dl-horizontal dt {
    float: left;
    width: 140px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dl-horizontal dd {
    margin-left: 160px;
}

/* Footer
-------------------------------------------------- */

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}
.footer p {
    margin-bottom: 0;
    color: #777;
}
.footer-links {
    margin: 10px 0;
}
.footer-links li {
    display: inline;
    padding: 0 2px;
}
.footer-links li:first-child {
    padding-left: 0;
}

abbr {
    border-bottom: 1px dotted #999999;
}

abbr.initialism {
    font-size: 90%;
    text-transform: uppercase;
}


p.version {
    display: block;
    clear: both;
    font-size: 13px;
    text-align: center;
    margin: 0;
    padding: 0;
}

div.container {
    padding-top: 60px;
}

/* Doc nav */
nav {

}
.content {

}
#logo {
    margin-bottom: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
    font-weight: bold; }
nav ul {
    float: left;  }
nav ul li {
    display: block;
    margin-bottom: 10px; }
nav ul li a,
nav ul li a:visited,
nav ul li a:active  {
    font-size: 14px;
    color: #555;
    text-decoration: none;
    font-weight: bold; }
nav ul li a:hover {
    color: #222;
}
nav h1 {
    font-size: 28px;
    line-height: 30px;
    letter-spacing: -1px;
    font-weight: normal;
    font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
}
section h1 {
    font-size: 25px;
    line-height: 30px;
}

header h2 {
    font-size: 28px;
    line-height: 32px;
}




/* #Page Styles
================================================== */

/* #Media Queries
================================================== */


	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/