<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Image Faker</title>
    <meta name="description" content="Create images dinamically">
    <meta name="author" content="Rober Martín H (rmhdev)">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" href="/favicon.ico">
</head>

<body>
<h1>Image Faker</h1>
<p>Create images dinamically</p>

{% block content %}{% endblock %}

</body>

</html>