<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Image Faker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Create images dynamically">
    <meta name="author" content="Rober Martín H (rmhdev)">

{% for asset in ['bootstrap.min.css', 'image-faker.css'] %}
    <link rel="stylesheet" href="./css/{{ asset }}" type="text/css">
{% endfor %}

    <!--[if lt IE 9]>
    <script src="./js/html5shiv.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="./favicon.ico">

</head>
<body>

<header class="jumbotron subhead" id="overview">
    <div class="container">

        <div class="row-fluid">
            <div class="span8 header">
                <h1>Image Faker</h1>
                <p class="lead">Generate images dynamically</p>
            </div>
            <div class="span4 version">
                <p class="">Version: 1.2.0</p>
                <a href="https://github.com/rmhdev/Image-Faker" class="btn btn-large btn-success">View on GitHub</a>
            </div>
        </div>

    </div>
</header>

<div class="container">
{% block content %}{% endblock %}
</div>

<footer class="footer">
    <div class="container">
        <p>Created by <a href="http://twitter.com/rmhdev" target="_blank">@rmhdev</a>.</p>
        <p>Theme based on <a href="http://twitter.github.io/bootstrap/">Twitter Bootstrap</a>.</p>
    </div>
</footer>

</body>
</html>
